* {
    box-sizing:border-box;
}

body {
    background-color: white;
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: white;
}

.card-header {
    text-align: center;
}

h6 {
    color: grey;
}
/* .display-weather, .display-days {
    border-style:ridge;
    background-color: white;
    height: 200px;
    padding: 5px;
    margin: 2px;
    position: relative;
    width: 700px;
    cursor: pointer;
    text-align: left;
} */

.flex-column, #five-day-forecast {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }

  body {
      background-image: url(./clouds.jpg);
  }

  li {
      /* color: gray; */
      list-style: none;
  }

  .low {
      background-color: green;
  }

  .moderate {
      background-color: yellow;
  }

  .high {
      background-color: orange;
  }

  .veryHigh {
      background-color: red;
  }

  .extreme {
      background-color: gray;
  }

  #display-five {
      column-count: 5;
  }